<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sut mahsulotlari</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
         .uls {
    list-style: none;
  }
  .lis {
    display: inline-block;
    margin: 0 10px;
  }
  .lia{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto;
  }
  .logo {
    margin: 10px;
    height:50px;
  }

    .cartimg{
    height:50px;
    }
        .icons{
        height:45px;
        border-radius:50%;

    }

    </style>
</head>
<body>
  <div class="container-fluid header">
       <div class="row">
           <div class="col-sm-4">
               <img src="{% static 'images/logo.png' %}" alt="logo" class="logo" />
           </div>
          <div class="col-sm-8">
            <div class="row">
              <ul class="m-0 uls col-sm-9">
                 <li class="lis">
                   <a href="/" class="lia">Home</a>
                 </li>
                 <li  class="lis">
                  <a href="/" class="lia">About us</a>
                 </li>
                 <li class="lis">
                   <a href="/" class="lia"></a>
                 </li>
                 <li class="lis">
                   <a href="/" class="lia"><img class="cartimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYC-Iz4uNdM_XPgZ7H0tR1cr1GyQVlshbCSQ&usqp=CAU"></a>
                 </li>
                      {% if user.is_authenticated %}
                 <li class="lis">
                   <a href="/accounts/logout" class="lia">Logout</a>
                 </li>
                    {% else %}
                 <li class="lis">
                   <a href="/accounts/login" class="lia">Login</a>
                 </li>
                    {% endif %}
              </ul>
              <div class="col-sm-2">
                    <form action="/search" method="post" class="row">
                        {% csrf_token %}
                        <input type="text" name="search_product" class="col-sm-8">
                        <button class="col-sm-4">Qidirish</button>
                    </form>
              </div>
            </div>
          </div>
       </div>
  </div>
  {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <h1>Category</h1>
                     {% for category in all_categories %}
                <div class="col-sm-5 card">
                    <a href="/category/{{category.id}}" class="acard">
                     <button class="btn btn-success">{{category}}</button>
                     </a>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-8">
                <h1>Product</h1>
                <div class="row">

                    <div class="col-sm-4">
                        <h1>{{product.product_name}}</h1>
                         <form action="/cart/{{ product.product_name }}" method="post">
                               {% csrf_token %}

                             <input type="number" min="1" value="1" name="pr_count" class="inputs">
                             <span> <button><img class="icons" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4WjzkzkDNZ8mqZ5N5fVtGL6UpyJfEwU7qvw&usqp=CAU"></button></span>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
